#pane{
    -fx-background-color:#EBECF0;

}
.label{
    /*-fx-text-fill: white;*/
}
.button{
    -fx-background-color:#D20772;
    -fx-text-fill: white;
}
#disconnectBtn{
    -fx-background-color: #dd2e2e;
}
#openConnectionBtn{
    -fx-background-color: #2b7cd2;
}
#connectBtn{
    -fx-background-color: #24c852;
}