# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\KU Work Document\3-2\01418351 Computer Communications and Cloud Computing Principles\Lab\Project 01 - File Transfer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
